# core
requests
django-otp

# dev
black
bpython
commitizen
bumpversion
django
doc8
flake8
invoke
freezegun
isort==5.*
pipdeptree
pip-tools

# test
coverage
tox

#  docs
sphinx

# dist
setuptools
twine
wheel
